#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*/target/
*/pom.xml.tag
*/pom.xml.releaseBackup
*/pom.xml.versionsBackup
*/pom.xml.next
*/release.properties
*/dependency-reduced-pom.xml
*/buildNumber.properties
*/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#Profiles
*/profiles

#Logs
*.log

#Intellij
*.iml
.idea

#Sonar
.scannerwork

#Données locales
local
