teleinfo.filetouse=linky.wav
teleinfo.processrecord=1
teleinfo.dbsavetime=30
teleinfo.trametime=3000
teleinfo.asktime=5

teleinfo.gain=20
teleinfo.offset=-17000
teleinfo.limite=1000
teleinfo.inverse=0

meteo.dbsavetime=900
meteo.asktime=60

chauffage.asktime=1

jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://IP/BDD
jdbc.username=user
jdbc.password=password

mode.meteo1.activated=1
mode.meteo2.activated=1
mode.teleinfo.activated=1
mode.chauffage.activated=1

